.pythonMainCont{
    display: flex;
}

.pythonRight{
    flex: 9;
}

.pythoncontex{
    display: flex;
    flex-direction: row;
}



.pythonRightmiddle{
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.cardContext{
    
}