.cardText{
    font-family:"Roboto Light";
    font-size:13px;
}
.card{
    margin-bottom:10px;
}

.cardh3{
    color: blue;
    text-align: center;
}

.cardtitle{
    text-align: center;
}
.star{
    margin-right: 2px;
    color: gold;
}

.cardheader{
    text-align: center;
}