.kubernetesPlayButton{
    margin-top: 8px;
    margin-bottom: 15px;
    width: 250px;
    height: 50px;
    align-items: center;
    background-color:#0a0a23;
    color: #fff;
    border-color: aqua;
    border-width: 5px;
    
}

.pythonfeedWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;     
}

.cardContext{
    -webkit-box-shadow: 1px 0px 17px 6px rgba(0,0,0,0.35); 
    box-shadow: 1px 0px 17px 6px rgba(0,0,0,0.35);
    border-color: black;
}



.cardText{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: medium;
     
}